<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>原生语法，点击按钮渲染学生数据</title>
</head>
<body>
    <input type="button" value="点击获取数据" id="btn">
    <!-- 1 引入模板库 -->
    <script src="../assets/js/template-native.js"></script>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>姓名</td>
                <td>年龄</td>
                <td>性别</td>
                <td>专业</td>
                <td>地址</td>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
    <script src="../assets/js/jquery-1.12.2.js"></script>
    <!-- 2.1 准备模板 -->
    <script type="text/template" id="htmlTemplate">
        <% for(var i = 0; i<data.length; i++) { %>
        <tr>
            <td><%=data[i].id%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].age%></td>
            <% if(data[i].gender == "男") { %>
            <td>靓仔</td>
            <% } else { %>
            <td>小姐姐</td>
            <% } %>
            <td><%=data[i].zhuanye%></td>
            <td><%=data[i].address%></td>
        </tr>
        <% } %>
    </script>
    <script>
        // 点击按钮才触发
        var btnDom = document.querySelector('#btn');
        btnDom.onclick = function() {
            var res = {};
            // 2.2准备数据
            $.ajax({
                url: "http://127.0.0.1:3001/getStudentsJSON",
                type:"get",
                dataType: "json",
                success: function(res) {
                    // 3 调用方法生成html字符串
                    var htmlStr = template('htmlTemplate', res);
                    $('#tbody').html(htmlStr);
                }
            })
            
        }
        
    </script>
</body>
</html>