<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>

        

        // 接口文档 - 单个水果数据
        // GET
        // http://127.0.0.1:3001/getOneFruit
        // 参数：id

        // 原生的 ajax 请求写法，jq 的 $.ajax() 基于以下代码进行的高级封装

        const xhr = new XMLHttpRequest();

        xhr.onload = function(){
            console.log(xhr.responseText);
        }

        xhr.open('GET','http://127.0.0.1:3001/getOneFruit?id=1');

        xhr.send();

    </script>
</body>
</html>