<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>原生 ajax 请求</title>
</head>
<body>
    <div id="greeting"></div>
    <script>
        var xhr = new XMLHttpRequest();
        
        xhr.open('get', 'http://127.0.0.1:3001/getUserNameAjax');
       
        xhr.onreadystatechange = function() {
            if (xhr.status == 200 && xhr.readyState == 4) {
                var res = JSON.parse(xhr.responseText);
                console.log(res);
                var dom = document.querySelector('#greeting');
                dom.innerHTML = res.data.name + "欢迎回来";
                // $('#greeting').html(res.data.name + "欢迎回来")
            }
        }

        xhr.send()
    </script>
</body>
</html>