<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传</title>
</head>

<body>
    <input type="file" name="uploadImg" id="uploadImg">
    <img src="" alt="" id="img">
    <div id="percent"></div>
    <script>
        var uploadInput = document.querySelector('#uploadImg');
        // 一旦选择了文件，就会触发 onchange 事件
        uploadInput.onchange = function () {
            // console.log(this);
            // 使用 console.log 打印标签没有意义
            console.dir(this);
            // 可以看到这个 this 里面有一个 files 属性
            // 存放着你的图片，其中只上传一张就是 this.files[0]
            // 要将这张图片变成可以上传，符合后台要求的二进制数据，
            // 使用 FormData 对象
            var data = new FormData()
            // 如果不穿 form 表单 创建出来的是一个空对象
            // 使用 append 方法，将图片放入这个对象，其中图片的字段名需要参考文档
            data.append('avatar', this.files[0]);
            // 这时候图片就准备完毕可以进行 ajax 请求了

            // 发送 ajax 请求
            var xhr = new XMLHttpRequest();
            // 上传二进制文件不需要手动设置请求头
            xhr.onreadystatechange = function () {
                if (xhr.status == 200 && xhr.readyState == 4) {
                    var res = JSON.parse(xhr.responseText);
                    console.log(res);
                    // 渲染，将响应的图片地址，放入 img 标签，显示出来
                    // alert(res.msg);
                    console.log(res.msg);
                }
            }

            // 监听传输进度变更
            xhr.upload.onprogress = function (event) {
                // event 就是进度变化事件
                // 它的里面有两个属性
                // event.loaded 已经传输的数据量，
                // event.total 总共需要传输的数据量

                // 百分比 = ((已经传输 / 总量) * 100) + '%' 
                var percent = Math.floor((event.loaded / event.total) *100) + "%";
                var domPercent = document.querySelector('#percent');
                domPercent.innerHTML = percent;
                console.log(percent);
                
            }
            xhr.open('post', 'http://127.0.0.1:3001/uploadFile');
            xhr.send(data)
        }
    </script>
</body>

</html>